
.container{
    width: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.dot{
    position: relative;
    height: 10px;
    width: 10px;
    background-color: blue;
    border-radius: 50%;
    z-index: 2;

}


.line{
    height: calc(100% + 44px);
    border-left:2px blue dashed;
    position: absolute;
    top: 50%;
    z-index: 0;
    overflow: hidden;
    left: calc(50% - 1px);
}

.lastPosition{
    height: 0;
}
